@tailwind base;
@tailwind components;
@tailwind utilities;

$baseFontSize: 16px;

:root {
  --font-default: 'Poppins', sans-serif;
  --font-arabic: 'notokufiarabic', sans-serif;
}

html {
  font-size: $baseFontSize;
  overflow-x: visible;
}

html,
body,
#__nuxt {
  @apply w-full m-0 p-0;

  // text-rendering: optimizeLegibility;
  // font-synthesis: none;
  // font-weight: 500;
}

.font-default {
  font-family: var(--font-default);
}

.font-arabic {
  font-family: var(--font-arabic);
}

// Headings
h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-3xl font-bold;
}

h4 {
  @apply text-2xl font-bold;
}
