:root {
  // Theme
  --primary-theme: #f46c38;
  --secondary-theme: #c5ff41;

  // Background
  --background-color: #f0f0f0;
  --background-color-dark: #151312;

  // Navbar background
  --background-nav-light: #ffffff;
  --background-nav-dark: rgb(255 255 255 / 0.03);

  --bacground-nav-tooltip-item-light: #151312;
  --bacground-nav-tooltip-item-dark: rgb(255 255 255 / 0.1);

  // Colors
  --gray: rgb(153 143 143);
  --soft-gray: rgb(182 180 189 / 0.2);
  --dark-gray: rgb(106 107 110 / 1);
}
