@tailwind base;
@tailwind components;
@tailwind utilities;

$baseFontSize: 16px;

html {
  font-size: $baseFontSize;
  overflow-x: visible;
  font-family: 'Poppins';
}

html,
body,
#__nuxt {
  @apply w-full m-0 p-0;

  // text-rendering: optimizeLegibility;
  // font-synthesis: none;
  // font-weight: 500;
}
