:root {
    // Background
    --background-color: #FFFFFF;
    --background-color-dark: #151312;

    // Navbar background
    --background-nav-light: rgb(255 255 255 / 0.03);
    --background-nav-dark: rgb(255 255 255 / 0.03);
}